<!Doctype html>
<html class="scroll-smooth " lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />

  <link rel="stylesheet" href="../../static/src/output.css">
  <script src="../../static/js/darkmode.js" defer></script>
  <style>
    html,
    body {
      height: 100%;
      -webkit-font-smoothing: antialiased;
      scrollbar-width: none;
      -ms-overflow-style: none
    }

    body::-webkit-scrollbar {
      display: none
    }

    ::-moz-selection {
      color: white;
      background: #10b981
    }

    ::selection {
      color: white;
      background: #10b981
    }
    .scroll-hidden::-webkit-scrollbar {
      height: 0px;
      background: transparent;
      /* make scrollbar transparent */
    }
  </style>
  <title></title>
</head>
<body class=" p-20">
   

    <div class="w-80 overflow-hidden bg-white rounded-lg shadow-md dark:bg-gray-800">
     <!-- Card tag and image -->
        <div class=" top-0 left-0 ">
            <div class=" text-xs p-0.5 absolute z-10 bg-gray-200 text-gray-900 text-end border rounded-br-md w-fit mr-0">
                Engineering
            </div>
            <img class="object-cover relative top-0 left-0 z-0 object-center aspect-square w-full h-44" src="https://images.unsplash.com/photo-1550439062-609e1531270e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Article">
        </div>
        <div class="px-4 pb-3   overflow-hidden  max-w-xs">
            <div class="mt-3">
                <a href="#" class="block mt-2 text-lg font-semibold text-gray-800 sm:text-base transition-colors duration-300 transform ">!SCHOOL ANNIVERSARY!!!</a>
                <p class="mt-1 text-sm text-gray-600 sm:text-xs ">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Molestie parturient et sem ipsum volutpat vel. 
                    </p>
            </div>
            <div class="mt-4">
                <div class="flex items-center justify-between">
                    <div class="">
                     <i class="fa-solid fa-calendar-days"></i>
                    <span class="mx-1 text-xs sm:text-[o.86rem] text-gray-600 ">15th October,2022</span>
                    </div>
                    <div class="">
                        <i class="fa-solid fa-clock"></i>
                        <span class="mx-1 text-xs sm:text-[o.86rem] text-gray-600 ">2:30pm</span>
                    </div>
                      </div>
            </div>
        </div>
    </div>
</body>
 
</html>