
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <title>Login</title>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->

 <!-- {% compress css %} -->
<link rel="stylesheet" href="../../static/css/outputnew.css">
<!-- {% endcompress %} -->
    </head>
  <body class="dark:bg-gray-800 bg-gray-100 bg-center bg-no-repeat bg-cover" style="background-image: url('https://source.unsplash.com/1600x900/?education');">
    
    
<!-- Section 1 -->
<section class="w-full px-8 py-5  dark:bg-gray-800/80 backdrop-blur-sm bg-gray-900/5 md:h-screen xl:px-8">
    <div class="max-w-5xl mx-auto">
        <div class="flex flex-col items-center md:flex-row">

            <div class="w-full space-y-5 md:w-3/5 md:pr-16">
                <p class="font-medium tracking-widest text-emerald-500 uppercase">E-Library</p>
                <h2 class="text-2xl font-extrabold leading-none dark:text-white text-white sm:text-3xl md:text-5xl">
                    Providing you the best books.
                </h2>
                <p class="text-xl text-gray-600 dark:text-gray-300 md:pr-16"><span class="text-red-500">Learn,</span> <span class="text-yellow-500">Re-learn</span>  and <span class="text-emerald-500">Unlearn</span>  with E-Library.</p>
            </div>
            <!-- Login Container -->
            <div class="w-full mt-10 md:mt-0 md:w-2/5">
                <div class="relative z-10 h-auto p-5  overflow-hidden dark:bg-gray-900 bg-emerald-900 backdrop-blur-2xl border-b-2 rounded-lg shadow-2xl px-7">
                  <!-- logo container -->
                  <div class="logo-container mb-6">
                    <img class="w-16 h-16 rounded-full object-cover mx-auto mb-4" src="../../static/img/knustlogo.png" alt="knust logo">
                    <h3 class="text-xs text-center font-medium text-amber-500">Kwame Nkrumah University of Science and Technology, Obuasi Campus</h3>
                  </div>
                  <!-- sign up title -->
                    <h3 class="mb-2 text-2xl font-bold  text-center text-white">Sign in to your Account</h3>
                  <div class="user_card">
             
              <div class="mt-10  justify-center form_container">
                <form method="POST" action="">
                  <input type="hidden" name="csrfmiddlewaretoken" value="YPid0N5r9tMb82fRqCsGckJyVeeGPrDQb1jA7Zd92vvFBXQp7WU9QyNydhvq5sPR">
                  <div>
                    <label
                      for="email"
                      class="block mb-2 text-sm text-gray-100 dark:text-gray-200"
                      >Username</label
                    >

                    <input
                      type="text"
                      name="username"
                      placeholder="Username..."
                      class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-emerald-400 dark:focus:border-emerald-400 focus:ring-emerald-400 focus:outline-none focus:ring focus:ring-opacity-40"
                    />
                  </div>

                  <div class="mt-6">
                    <div class="flex justify-between mb-2">
                      <label
                        for="password"
                        class="text-sm text-gray-100 dark:text-gray-200"
                        >Password</label
                      >
                      <a
                        href="#"
                        class="text-sm text-gray-400 focus:text-emerald-500 hover:text-emerald-500 hover:underline"
                        >Forgot password?</a
                      >
                    </div>

                    <input
                      type="password"
                      name="password"
                      id="password"
                      placeholder="Your Password"
                      class="form-control block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-emerald-400 dark:focus:border-emerald-400 focus:ring-emerald-400 focus:outline-none focus:ring focus:ring-opacity-40"
              />
                  </div>

                  <div
                    class="justify-content-center mt-3 text-center login_container w-full px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-emerald-500 rounded-md hover:bg-emerald-400 focus:outline-none focus:bg-emerald-400 focus:ring focus:ring-emerald-300 focus:ring-opacity-50"
                  >
                    <input class="btn login_btn" type="submit" value="Login" />
                  </div>
                  

              <div class="mt-4 dark:text-gray-400 text-sm">
                <div class="flex justify-center ">
                  Don't have an account?
                  <a href="/register/" class="ml-2  hover:transition-all font-medium text-emerald-500 ">Sign Up</a>
                </div>
                <div class="flex justify-center ">
                  Forgot password?
                  <a href="/reset_password/" class="ml-2 text-red-300"
                    >Reset password</a
                  >
                </div>
              </div>
                </form>
              </div>

             
            </div>
                </div>
            </div>

        </div>
    </div>
</section>

  
</html>





































































































































































































