
<!Doctype html>
<html class="scroll-smooth " lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />

  <link rel="stylesheet" href="../../static/src/output.css">
  <script src="../../static/js/darkmode.js" defer></script>
  <style>
    html,
    body {
      height: 100%;
      -webkit-font-smoothing: antialiased;
      scrollbar-width: none;
      -ms-overflow-style: none
    }

    body::-webkit-scrollbar {
      display: none
    }

    ::-moz-selection {
      color: white;
      background: #10b981
    }

    ::selection {
      color: white;
      background: #10b981
    }
    .scroll-hidden::-webkit-scrollbar {
      height: 0px;
      background: transparent;
      /* make scrollbar transparent */
    }
  </style>
  <title>EXECUTIVES</title>
</head>
  <body class="bg-black duration-500">
        <!-- -------------------Nav Bar---------------------- -->
      <header class="h-screen">
        <nav class="bg-yellow-500/50 backdrop-blur-sm px-2 sm:px-4 py-2.5 dark:bg-gray-900 fixed w-full z-[1000] top-0 left-0 border-b border-gray-500">
          <div class="container flex flex-wrap justify-between items-center mx-auto">
          <a href="#" class="flex items-center">
              <img src="../../static/img/src.png" class="mr-2 h-10 sm:h-9" alt="KNUST OBUASI SRC Logo">
              <span class="self-center text-sm font-extrabold whitespace-nowrap text-white">KNUST SRC - OB</span>
          </a>
          <div class="flex md:order-2">
              <button type="button" class="text-white bg-yellow-700 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-yellow-600 dark:hover:bg-yellow-700 dark:focus:ring-yellow-800">Sign In</button>
              <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
            </button>
          </div>
          <div class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
            <ul class="flex flex-col p-4 mt-4 bg-gray-50 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
              <li>
                <a href="#home" class="block py-2 pr-4 pl-3 text-white bg-yellow-700 rounded md:bg-transparent md:text-yellow-700 md:p-0 dark:text-white" aria-current="page">Home</a>
              </li>
              <li>
                <a href="#welcome" class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-yellow-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About</a>
              </li>
              <li>
                <a href="#vision" class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-yellow-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Services</a>
              </li>
              <li>
                <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-yellow-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Contact</a>
              </li>
            </ul>
          </div>
          </div>
        </nav>
       
      <div id="home" class=" relative h-full overflow-hidden bg-no-repeat bg-cover" style="
          background-position: 50%;
          background-image: url('../../static/img/obuasi..png');
          
        ">
        <div id="carouselExampleCaptions" class=" carousel slide carousel-fade relative h-full" data-bs-ride="carousel">
          
          <div class="carousel-inner absolute w-full  h-full overflow-hidden">
            <div class="carousel-item active relative float-left w-full h-full">
              <img
                src="https://source.unsplash.com/1600x900/?education"
                class="slide_image"
                alt="..."
              />
            
            </div>
            <div class="carousel-item relative float-left w-full">
              <img
                src="https://source.unsplash.com/1600x900/?education"
                class="block w-full filter saturate-0"
                alt="..."
              />
             
            </div>
            <div class="carousel-item relative float-left w-full">
              <img
                src="https://source.unsplash.com/1600x900/?education"
                class="block w-full filter saturate-0"
                alt="..."
              />
              
            </div>
          </div>
        
        </div>
      
          <div class="z-10 px-4 absolute top-0 right-0 bottom-0 left-0 w-full h-auto overflow-hidden bg-fixed"
            style="background-color: rgba(0, 0, 0, 0.75)">
            <div class="container flex justify-center items-center h-full">
              <div class="  text-center text-white px-6 md:px-12 flex items-center flex-col ">
              
                <!-- KNUST SRC LOGO CONTAINER -->
                <div class="w-full justify-center flex items-center"> 
                  <img src="../../static/img/src.png" alt="" class=" h-20 md:h-24 lg:h-32 ">
               </div>
               <!--  END OF  KNUST SRC LOGO CONTAINER -->
      
               <!-- HERO TEXT -->
                <h3 class="text-lg md:text-2xl lg:text-3xl font-bold mb-4">KNUST</h3>
                <h1 class="text-4xl md:text-5xl lg:text-7xl font-extrabold mt-0 mb-6 text-yellow-400">STUDENTS' <br> REPRESENTATIVE COUNCIL</h1>
               
      
                  <!-- CAMPUS TEXT CONTAINER -->
                <div class="relative   mt-2 w-full flex justify-center items-center">
                  <h3 class="text-base  p-3 md:p-0 md:text-lg lg:text-xl font-thin z-10  text-white">OBUASI CAMPUS</h3>
                  <span class="bg-gray-50/50 absolute w-1/4  h-[.01rem] left-0"></span>
                  <span class="bg-gray-50/50 absolute w-1/4 h-[.01rem] right-0"></span>
                </div>
                 <!-- END OF CAMPUS TEXT CONTAINER -->
              </div>
            </div>
          </div>
        </div>
      </header>



    <section class="w-full bg-white dark:bg-gray-800  py-12 lg:py-24">
        <div class="mx-auto max-w-6xl px-12 text-center">
            <div class="space-y-12 md:text-center">
                <div class="mb-20 max-w-3xl space-y-5 sm:mx-auto sm:space-y-4">
                    <h2 class="relative text-4xl font-extrabold tracking-tight sm:text-5xl text-black dark:text-white">
                        Our Awesome Team
                    </h2>
                    <p class="text-xl text-gray-500 dark:text-gray-300">
                        We take pride in the people we work with. This is because we all
                        collectively help each other become more awesome every day.
                    </p>
                </div>
            </div>

            <div class="grid grid-cols-1 gap-10 sm:grid-cols-2 lg:grid-cols-3">
                <!-- {% for executive in executives %} -->

                <div class="w-full rounded-lg border border-gray-200 shadow-sm overflow-hidden ">
                    <img class="mb-6 aspect-square  object-cover " src="{{executive.imageURL}}" alt="profile image"/>
                    <div class="flex flex-col items-center justify-center mb-6 px-10">
                        <h2 class="text-lg font-medium dark:text-white">{{executive.name}}</h2>
                        <p class="font-medium text-blue-500">{{executive.description}}</p>
                        <!-- <p class="text-gray-400">Team member as of 2015</p> -->
                    </div>

                    <div class="flex divide-x divide-gray-200 border-t border-gray-200">
                        <a href="#_"
                            class="block flex-1 p-5 text-center text-gray-300 transition duration-200 ease-out hover:bg-gray-100 hover:text-gray-500">
                            <svg
  class="mx-auto w-6 h-6 text-blue-600 fill-current"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 24 24">
  <path
    d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z"
  />
</svg>
                        </a>
                        <a href="#_"
                            class="block flex-1 p-5 text-center text-gray-300 transition duration-200 ease-out hover:bg-gray-100 hover:text-gray-500">
                            <svg
  class="mx-auto w-6 h-6 text-blue-300 fill-current"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 24 24">
  <path
    d="M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z"
  />
</svg>
                        </a>
                        <a href="#_"
                            class="block flex-1 p-5 text-center text-gray-300 transition duration-200 ease-out hover:bg-gray-100 hover:text-gray-500">
                            <svg
  class="mx-auto w-6 h-6 text-green-400 fill-current"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 448 512">
  <path
    d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"
  ></path>
</svg>
                        </a>
                    </div>
                </div>
                
                <!-- {% endfor %} -->
            </div>
        </div>
    </section>

    <script>
        var themeToggleDarkIcon = document.getElementById('theme-toggle-dark-icon');
        var themeToggleLightIcon = document.getElementById('theme-toggle-light-icon');

        // Change the icons inside the button based on previous settings
        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia(
                '(prefers-color-scheme: dark)').matches)) {
            themeToggleLightIcon.classList.remove('hidden');
        } else {
            themeToggleDarkIcon.classList.remove('hidden');
        }

        var themeToggleBtn = document.getElementById('theme-toggle');

        themeToggleBtn.addEventListener('click', function () {

            // toggle icons inside button
            themeToggleDarkIcon.classList.toggle('hidden');
            themeToggleLightIcon.classList.toggle('hidden');

            // if set via local storage previously
            if (localStorage.getItem('color-theme')) {
                if (localStorage.getItem('color-theme') === 'light') {
                    document.documentElement.classList.add('dark');
                    localStorage.setItem('color-theme', 'dark');
                } else {
                    document.documentElement.classList.remove('dark');
                    localStorage.setItem('color-theme', 'light');
                }

                // if NOT set via local storage previously
            } else {
                if (document.documentElement.classList.contains('dark')) {
                    document.documentElement.classList.remove('dark');
                    localStorage.setItem('color-theme', 'light');
                } else {
                    document.documentElement.classList.add('dark');
                    localStorage.setItem('color-theme', 'dark');
                }
            }

        });
    </script>
    <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
    <script src="../../../static/js/flowbite.bundle.js"></script>
</body>

</html>